
@{
    ViewBag.Title = "Info";
}

@model Fitter.Models.ModelViewSport

<div id="info">
    <h1>Info</h1>
    <div class="card" style="width: 20rem;">
        
        <img class="card-img-top" width="100em" src="@Url.Content(String.Format("~/Content/Images/{0}", Model.src))">
        <div class="card-body">
            <h4 class="card-title">@Model.Name </h4>
            <p class="card-text">@Model.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Locatie: @Model.Location</li>
            <li class="list-group-item">Instructeur: @Model.Teacher.Name</li>
            <li class="list-group-item">Aantal deelnemers: 5</li>
        </ul>
        <div class="card-body">
            <a href="~/Home/Index" class="MyBotton2 first btn btn-primary card-link">Terug</a>
            <a href="#" class="MyBotton2 btn btn-primary card-link">Join!</a>
        </div>
    </div>
</div>
